/* This id a solid start for any css file. 
this removes the default padding and margin from
 all elements */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  background-color: rgb(11, 11, 11);
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  max-width: 100vw;

  .screen {
    height: 40vh;
    min-height: 40vh;
    background-color: rgb(81, 81, 81);
    max-width: 500px;
    margin: auto;
    min-width: 500px;
    display: flex;
    justify-content: center;

    .inner {
      margin: auto;
      color: rgb(36, 212, 232);
      font-size: 30px;
    }
  }

  .keyboard {
    background-color: rgb(91, 91, 91);
    min-height: 60vh;
    max-width: 500px;
    margin: auto;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
    
    button {
      max-width: 300px;
      min-width: 300px;
      min-height: 100px;
      margin-left: auto;
      margin-right: auto;
      /* This could be usefull  https://getcssscan.com/css-box-shadow-examples */
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;    }
  }
}
